torch --index-url https://download.pytorch.org/whl/cu118
transformers==4.36.2 
sentencepiece==0.1.99 
datasets==2.16.1 
bitsandbytes==0.42.0
accelerate==0.26.1
pybind11
wandb
torchtext==0.4.0
scipy==1.10.1
matplotlib
configargparse
pynvml
netifaces
prl